.tooltip {
  position: absolute;
  border-radius: 4px;
  background-color: rgba($gray, 0.9);
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  bottom: 100%;
  left: 50%;
  z-index: 10;
  text-align: left;
  min-width: calc(100vw - 5rem);
  display: flex;
  flex-direction: column;
  pointer-events: none;
  gap: 0.25rem;
  transform: translateX(-50%);
  opacity: 0;

  @include media-breakpoint-up(md) {
    padding: 1rem 1.5rem;
    min-width: 18rem;
    max-width: 100%;
  }

  &-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    padding: 0.5rem 0.5rem 0.5rem 1rem;

    @include media-breakpoint-up(md) {
      padding: 1rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba($white, 0.15);
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 3px;
      height: calc(100% - 0.25rem);
    }

    &.maintenance {
      &:before {
        background-color: $purple;
      }
    }

    &.event {
      &:before {
        background-color: $green;
      }
    }

    time {
      color: $white;
      display: block;
      font-size: 12px;
    }

    h4 {
      color: $white;
      padding: 0;
      margin: 0;
      font-size: 12px;

      @include media-breakpoint-up(md) {
        font-size: 14px;
      }
    }
  }
}
